@import "variables.scss";

$color_1: #0c1e56;
$color_2: #f0eee4;
$color_3: rgba(190, 205, 235, .35);
$color_4: rgba(92, 112, 146, .45);
$color_5: #becdeb;
$color_6: #5c7092;
$color_7: rgba(92, 112, 146, .25);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:15px !important;
}

.App {
  text-align: left;
   background-image: url("./img/bg.jpg");
  background-size: cover;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.title {
  margin:0 auto;
  width:80%;
  height:auto;
  text-align:center;
  background-color: $color_3;
  color: $color_2;
  padding:20px;
  border-radius:3px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	width:100%;
	padding:0;	
}

.container {
	display: flex;
	flex-direction: row;
	max-width:1000px;
	margin:0 auto;
}

.rocket-container {
	display: flex;
	flex-direction: row;
	max-width:1200px;
	margin:0 auto;
	padding:10px 22px;
	border:1px solid $color_6;
	border-radius:3px;
	background-color: $color_5;
	box-shadow: 3px 6px $color_3;
}

.greetings {
	margin-top:16px;
	background-color: $color_4;
	widows: 90%;
	text-align:left;
	padding:20px;
	border-radius:4px;
}

#header {
	background-color: $color_7;
	width:100%;
}

#footer {
	margin-top:220px;
	background-color: $color_7;
	width:100%; 
	 border-top:1px solid $color_3;
}

.popovers {
	margin:0 auto;
	width:84%;
}

.right {text-align:right;}

img {
	max-width: 100%;
	height: auto;
}

a {
	transition: all 0.2s ease-in-out;
	&:hover {
		transition: all 0.2s ease-in-out;
	 }
}

ul {
	list-style-type: none;
	padding-inline-start:0;
}

.btn, .btn-tiny {
    padding: .2rem .3rem !important;
    font-size: .850rem !important;
    line-height: 1.25 !important;
    border-radius: .2rem !important;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.25rem !important;
	margin: 0 0 10px 0;
}

h5 {
	color: $color_1;
}

.navbar {
  border-top:1px solid $color_3;
}

.overflow-wrap {
	overflow-wrap: break-word;
}

.scrolling {
	overflow-x: scroll; 	
  	overflow: auto;
  	white-space: nowrap;
}

.center {
	margin: 0 auto;
	text-align:center;
	font-size:.75rem;
}

.mt25 {
	margin-top:25px;
}

 .mt200 {
	margin-top:200px;
}

.light {
	color:$color_6;
	font-size:.70rem;
	font-style: italic;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: $color_3 $color_4;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
  height:8px;
}
*::-webkit-scrollbar-track {
  background: $color_3;
}
*::-webkit-scrollbar-thumb {
  background-color: $color_4;
  border-radius: 10px;
  border: 1px solid $color_3;
}

@media screen and (min-width: 770px) and (max-width:840px) {

}

@media screen and (max-width: 769px) {
	
}

@media screen and (max-width: 477px) {
	
}
